  .container-Pic{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilePicture{
    width: 400px;
    margin-top: 10%;
    clip-path: circle();
}
.containerProf{
    justify-content: center;
    margin: 20px;
}
.name{
    font-family: Cousine;
    font-weight:525;
    color: rgb(255, 255, 255);
}
.occupation{
    font-size:15px;
    color: rgb(255, 255, 255);

}
.shortSummerycontainer{
   margin: 25px;
}
.shortSummery{
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}
.container-programmingLanguage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .programmingLanguage {
    list-style: none;
    text-align: center;
  }
.programmingLanguage li{
    border: 1px solid rgb(234, 6, 255);
    background-color: rgb(0, 0, 0);
    padding: 5px;
    width:80px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
.card{
    margin-bottom: 5px;
    margin-top: 50px;
}
.projects{
    width: 100%;
    height: auto;
}
.card-body{
    background-color: black;
    margin-bottom: 50px;
    border: 1px solid rgb(234, 6, 255);
}
.card-body a{
    color: white;
    text-decoration: none;
    font-family: Cousine;
}

